.item-list {
  width: 200px;
  overflow: auto;
  margin-left: 15px;
}
.listItem {
  display: block;
  padding: 10px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
  color: #147efb;
}
.listItem:hover {
  background-color: whitesmoke;
  color: #147efb;
}
.selected {
  background-color: #147efb !important;
  color: white !important;
}
.title {
  font-size: 22px;
  border-bottom: 1px solid grey;
  padding: 10px 25px;
}
